<div fxHide fxShow.gt-sm>
  <span fxFlex></span>
  <div id="horizontal-content">
    <mat-horizontal-stepper [selectedIndex]="step" (selectionChange)="selectionChanged($event)">
      <mat-step label="General Intro">
        <app-survey-card title="General Information">
          <app-intro></app-intro>
        </app-survey-card>
      </mat-step>
      <mat-step label="Curable" state="curable">
        <app-survey-card title="Curability" icon="curable">
          <app-curability></app-curability>
        </app-survey-card>
      </mat-step>
      <mat-step label="Preventable" state="preventable">
        <app-survey-card title="Preventability">
          <app-preventability></app-preventability>
        </app-survey-card>
      </mat-step>
      <mat-step label="Adult Onset" state="adultOnset">
        <app-survey-card title="Adult Onset" icon="adultOnset">
          <app-adult-onset></app-adult-onset>
        </app-survey-card>
      </mat-step>
      <mat-step label="Carrier Status" state="carrier">
        <app-survey-card title="Carrier Status" icon="carrier">
          <app-carrier-status></app-carrier-status>
        </app-survey-card>
      </mat-step>

      <ng-template matStepperIcon="curable">
        <mat-icon svgIcon="curable"></mat-icon>
      </ng-template>
      <ng-template matStepperIcon="preventable">
        <mat-icon svgIcon="curable"></mat-icon>
      </ng-template>
      <ng-template matStepperIcon="adultOnset">
        <mat-icon svgIcon="adultOnset"></mat-icon>
      </ng-template>
      <ng-template matStepperIcon="carrier">
        <mat-icon svgIcon="carrier"></mat-icon>
      </ng-template>
    </mat-horizontal-stepper>
  </div>
  <span fxFlex></span>
</div>

<mat-vertical-stepper linear fxHide fxShow.lt-md>
  <mat-step label="General Intro">
    <app-intro></app-intro>
  </mat-step>
  <mat-step label="Curable">
    <app-curability></app-curability>
  </mat-step>
  <mat-step label="Preventable">
    <app-preventability></app-preventability>
  </mat-step>
  <mat-step label="Step 4">
    Content 4
  </mat-step>
  <mat-step label="Step 5">
    Content 5
  </mat-step>

</mat-vertical-stepper>

