@import "~@angular/material/theming";

.survey-area {
  padding: 15px;
}

.survey-container {

  height: 100%;
  min-height: 800px;

  border-radius: 4px;

  // display: flex;
  // flex-direction: column;
  // flex: 1;
}



.conditions-table {
  background-color: white;
}

.mat-drawer-container {
  background-color: inherit;
}

.active-list-item {
  background-color: lightslategray !important;
  color: white !important;
}
