<div fxHide fxShow.gt-sm>
  <span fxFlex></span>
  <div id="horizontal-content">
    <mat-horizontal-stepper [selectedIndex]="step" (selectionChange)="selectionChanged($event)">
      <mat-step label="General Intro">
        <app-survey-card title="General Information">
          <app-intro></app-intro>
        </app-survey-card>
      </mat-step>
      <mat-step label="Curable" state="curable">
        <app-survey-card title="Curability" icon="curable_circle">
          <app-curability></app-curability>
        </app-survey-card>
      </mat-step>
      <mat-step label="Preventable" state="preventable">
        <app-survey-card title="Preventability" icon="preventable_circle">
          <app-preventability></app-preventability>
        </app-survey-card>
      </mat-step>
      <mat-step label="Adult Onset" state="adultOnset">
        <app-survey-card title="Adult Onset" icon="adultOnset_circle">
          <app-adult-onset></app-adult-onset>
        </app-survey-card>
      </mat-step>
      <mat-step label="Carrier Status" state="carrier">
        <app-survey-card title="Carrier Status" icon="carrier_circle">
          <app-carrier-status></app-carrier-status>
        </app-survey-card>
      </mat-step>
      <mat-step label="Final Review" state="finalReview">
        <app-survey-card title="Final Review" icon="table_chart" finalStep="true">
          <app-final-review></app-final-review>
        </app-survey-card>
      </mat-step>

      <ng-template matStepperIcon="curable">
        <mat-icon svgIcon="curable"></mat-icon>
      </ng-template>
      <ng-template matStepperIcon="preventable">
        <mat-icon svgIcon="curable"></mat-icon>
      </ng-template>
      <ng-template matStepperIcon="adultOnset">
        <mat-icon svgIcon="adultOnset"></mat-icon>
      </ng-template>
      <ng-template matStepperIcon="carrier">
        <mat-icon svgIcon="carrier"></mat-icon>
      </ng-template>
      <ng-template matStepperIcon="finalReview">
        <mat-icon svgIcon="table_chart"></mat-icon>
      </ng-template>
    </mat-horizontal-stepper>
  </div>
  <span fxFlex></span>
</div>

<div fxShow fxHide.gt-sm>
  <mat-card fxFlex *ngIf="!step || step == 0">
    <mat-card-header>
      <mat-card-title>General Instructions</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-intro></app-intro>
    </mat-card-content>
    <mat-card-actions fxLayoutGap="15">
      <span fxFlex></span>
      <button mat-raised-button class="mat-primary" (click)="forwardStep()">Next</button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex *ngIf="step == 1">
    <mat-card-header>
      <mat-icon mat-card-avatar svgIcon="curable_circle" aria-hidden="false"></mat-icon>
      <mat-card-title>Curability</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-curability></app-curability>
    </mat-card-content>
    <mat-card-actions fxLayoutGap="15">
      <span fxFlex></span>
      <button mat-raised-button (click)="backwardStep()">Back</button>
      <button mat-raised-button class="mat-primary" (click)="forwardStep()">Next</button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex *ngIf="step == 2">
    <mat-card-header>
      <mat-icon mat-card-avatar svgIcon="preventable_circle" aria-hidden="false"></mat-icon>
      <mat-card-title>Preventability</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-preventability></app-preventability>
    </mat-card-content>
    <mat-card-actions fxLayoutGap="15">
      <span fxFlex></span>
      <button mat-raised-button (click)="backwardStep()">Back</button>
      <button mat-raised-button class="mat-primary" (click)="forwardStep()">Next</button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex *ngIf="step == 3">
    <mat-card-header>
      <mat-icon mat-card-avatar svgIcon="adultOnset_circle" aria-hidden="false"></mat-icon>
      <mat-card-title>Adult Onset</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-adult-onset></app-adult-onset>
    </mat-card-content>
    <mat-card-actions fxLayoutGap="15">
      <span fxFlex></span>
      <button mat-raised-button (click)="backwardStep()">Back</button>
      <button mat-raised-button class="mat-primary" (click)="forwardStep()">Next</button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex *ngIf="step == 4">
    <mat-card-header>
      <mat-icon mat-card-avatar svgIcon="carrier_circle" aria-hidden="false"></mat-icon>
      <mat-card-title>Carrier Status</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-carrier-status></app-carrier-status>
    </mat-card-content>
    <mat-card-actions fxLayoutGap="15">
      <span fxFlex></span>
      <button mat-raised-button (click)="backwardStep()">Back</button>
      <button mat-raised-button class="mat-primary" (click)="forwardStep()"><mat-icon>save</mat-icon>Save</button>
    </mat-card-actions>
  </mat-card>
  <!--    <app-preventability></app-preventability>-->
  <!--    <app-adult-onset></app-adult-onset>-->
  <!--    <app-carrier-status></app-carrier-status>-->
</div>
