rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // https://www.youtube.com/watch?v=eW5MdE3ZcAw

    match /userData/{userId} {
      allow create, update: if request.auth.uid == userId;

      match /logs/{logId} {
      	allow create: if request.auth.uid == userId;
      }
    }
  }
}
