@import '~@angular/material/theming';
@import '../../theme';

// https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
// Note: May want to move these to separate file and import into a master theme file as per
// https://github.com/angular/components/blob/master/src/material/core/theming/_all-theme.scss

$primary: map-get($app-theme, primary);
//$accent: map-get($app-theme, accent);
$warn: map-get($app-theme, warn);
$foreground: map-get($app-theme, foreground);
//$background: map-get($app-theme, background);

.table-buttons {
  padding: 15px;
}

.condition-not-displayed {
  text-decoration: line-through;
  opacity: 0.7;
  color: mat-color($warn);
}

.fixed-height-container {
  max-height: 400px;
  overflow: auto;
}

.condition-attribute-cell {
  width: 40px;
  height: 40px;
  text-align: center;
}

.condition-attribute-icon {
  vertical-align: middle;
  color: mat-color($foreground, secondary-text);
  opacity: 0.2;
}

.attribute-present {
  opacity: 1;
}

.attribute-active {
  color: mat-color($primary);
}

.attribute-blocking {
  color: mat-color($warn);
}
