.condition-attribute-cell {
  text-align: center;
}

.step-container {
  overflow: hidden;
  padding: 0;
}

.step-content {
  outline: 0;

  &[aria-expanded='false'] {
    height: 0;
    overflow: hidden;
  }
}

.actions-row {
  margin: 50px;

  button {
    min-height: 50px;
    margin: 15px;
  }
}
