.condition-attribute-cell {
  text-align: center;
}

.title-text {
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: white;
}

.step-container {
  overflow: hidden;
  padding: 0;
}

.step-content {
  outline: 0;

  &[aria-expanded='false'] {
    height: 0;
    overflow: hidden;
  }
}

.actions-row {
  margin-left: 50px;
  margin-right: 50px;

  button {
    min-height: 50px;
    margin: 15px;
  }
}

.content-card {
  margin-left: 20px;
  margin-right: 20px;
}
