<div>
  <p>We are doing a study that includes genetic testing of DNA. Genetic testing could tell us about a disease a person
    has. It could tell us if a person might develop a disease during their lifetime.</p>
  <p>Some studies may give you the option to learn genetic results. The following questions will help you decide what
    types of results you would like to learn. You can also choose which results you don’t want to learn.</p>
  <p>Please answer the following questions. You can change your answers to the questions. As you answer questions,
    some diseases in the list may be crossed out. You can always add a disease back in. You can also click on a
    disease to learn more about it.</p>
</div>
