.condition-attribute-cell {
  text-align: center;
}

.step-container {
  overflow: hidden;
  padding: 0;
}

.step-content {
  outline: 0;

  &[aria-expanded='false'] {
    height: 0;
    overflow: hidden;
  }
}
