<mat-card fxLayout="column">
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content fxFlex>
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions fxLayoutGap="15">
    <span fxFlex></span>
    <button mat-raised-button matStepperPrevious>Back</button>
    <button mat-raised-button *ngIf="!finalStep" class="mat-primary" matStepperNext>Next</button>
    <button mat-raised-button *ngIf="finalStep" class="mat-primary" (click)="submit()">Save and Submit</button>
  </mat-card-actions>
</mat-card>
