@import "~@angular/material/theming";

.app-body {
  background-color: mat-color($mat-blue-gray);
  //margin-bottom: 40px

  // display: flex;
  // flex-direction: column;
  // flex: 1;
}

.footer {
  position: fixed;
  right: 10px;
  bottom: 0;

  color: gray;
  font-size: xx-small;
  z-index: 100;
}

