@import "~@angular/material/theming";

.app-body {
  // background-color: mat-color($mat-blue-gray);
  background-color: rgb(241, 245, 248);
  //margin-bottom: 40px

  // display: flex;
  // flex-direction: column;
  // flex: 1;
}

.app-container {
  margin: 15px auto;
  width: 100%;
  max-width: 1280px;
}

.footer {
  position: fixed;
  right: 10px;
  bottom: 0;

  color: gray;
  font-size: xx-small;
  z-index: 100;
}

