@import "~@angular/material/theming";

.app-body {
  background-color: mat-color($mat-blue-gray);
  //margin-bottom: 40px
}

.footer {
  //position: fixed;
  //left: 10px;
  //bottom: 0;

  color: gray;
  font-size: xx-small;
}
