<div fxLayout="column" style="min-height: 100%">
  <mat-toolbar color="primary">

    <button mat-button routerLink="/instructions">Genetic Preferences</button>
    <span fxFlex></span>
    <div fxHide fxShow.gt-sm *ngIf="auth.user | async as user">
      <span *ngIf="user.isAnonymous">Logged in as {{user.uid}}</span>
      <span *ngIf="!user.isAnonymous">{{user.email}}</span>
    </div>
    <button mat-button (click)="auth.changeAnonymousUser()">Change User</button>
  </mat-toolbar>

  <!-- <div fxLayout="row" fxFlex class="app-body"> -->
  <div fxFlex fxLayout="column" class="app-body">
    <div class="app-container" fxFlex>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer">
    <p>Version 2020-06-23-1300</p>
  </div>
</div>
