<div fxFlex fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px">
  <div fxFlex.gt-sm="50" fxLayout="column" fxLayoutGap="10px">
    <div class="youtube-container">
      <iframe width="100%" height="auto" src="https://www.youtube-nocookie.com/embed/oznr-1-poSU" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope"
              allowfullscreen></iframe>
    </div>
    <h3 class="treatable">Do you want to receive results for diseases that can be treated but the disease cannot be reversed or slowed? </h3>
    <p>Treatments can vary in how much they work. Some treatments can reverse or slow the disease,
      while others will only help someone adapt to a disease.</p>
    <mat-radio-group fxLayout="column" class="survey-radio-group app-wrap" [(ngModel)]="value">
      <mat-radio-button [value]="1">Yes, I want to receive results even if treatment only helps people live with a disease</mat-radio-button>
      <mat-radio-button [value]="0">No, I only want to receive results where treatments reverse or slow the disease</mat-radio-button>
      <mat-radio-button [value]="2" [disabled]="!notSureAllowed">I'm not sure<span *ngIf="!notSureAllowed"> (Click below for more info)</span>
      </mat-radio-button>
    </mat-radio-group>
    <mat-expansion-panel>
      <mat-expansion-panel-header (click)="notSureAllowed = true">I need more information</mat-expansion-panel-header>
      <p>TODO: add example</p>
    </mat-expansion-panel>

  </div>
  <div fxFlex.gt-sm="50" fxLayout="column">
    <p>Based on your selections, these are some conditions that could be returned</p>
    <app-condition-table [state]="surveySteps.TREATABILITY"></app-condition-table>
  </div>
</div>
