<div fxFlex fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px">
  <div fxFlex="50" fxLayout="column">
    <div class="youtube-container">
      <iframe width="100%" height="auto" src="https://www.youtube-nocookie.com/embed/Nv6qUsKYodA" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
    <p>Preventable conditions have some treatment, therapy, or lifestyle change that can be made to help prevent or
      avoid symptoms. Non-preventable conditions have no known interventions that will help to prevent them.</p>
    <p>Cystic Fibrosis is an example of a condition that is not preventable. While there are treatments that may help
      reduce symptoms, there is no medical intervention that will completely prevent the disease from occurring.</p>
    <p>Other diseases in this category include osteopetrosis, immunodeficiency syndromes, and certain cancers</p>
  </div>
  <div fxFlex="50" fxLayout="column">
    <h3>If genetic testing can reveal you are at risk for preventable and not preventable conditions, which types would
      you want to be told about?</h3>
    <mat-radio-group fxLayout="column" [(ngModel)]="preventabilitySelection">
      <mat-radio-button [value]="0">Preventable ONLY</mat-radio-button>
      <mat-radio-button [value]="1">Preventable AND not preventable</mat-radio-button>
    </mat-radio-group>

    <h4>Based on your selection, these are some conditions that would be reported:</h4>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="preventable">
        <th mat-header-cell *matHeaderCellDef> Preventable</th>
        <td mat-cell *matCellDef="let condition" class="condition-attribute-cell">
          <mat-icon *ngIf="condition.preventable">check</mat-icon>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let condition" [ngClass]="{'strikethru': !condition.preventable && preventabilitySelection == 0}"> {{condition.condition}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
