<mat-card fxFlex id="main-content" class="mat-elevation-z0 instructions-card">
  <mat-card-header>
    <mat-card-title>Introduction</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="youtube-container">
      <iframe width="100%" height="auto" src="https://www.youtube-nocookie.com/embed/0aAa1bgcDRY" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="mat-warn"><span fxHide.lt-md>I'm </span>not ready</button>
    <span fxFlex></span>
    <button mat-raised-button class="mat-primary" routerLink="/survey" (click)="setRole('adolescent')"><span fxHide.lt-md>Adolescent </span>13-17</button>
    <button mat-raised-button class="mat-primary" routerLink="/survey" (click)="setRole('young_adult')"><span fxHide.lt-md>Young Adult </span>18-21</button>
    <button mat-raised-button class="mat-primary" routerLink="/survey" (click)="setRole('parent')">Parent<span fxHide.lt-md> (or >21)</span></button>
  </mat-card-actions>
</mat-card>
