<span fxFlex></span>
<mat-card fxFlex="1000px" id="main-content" class="mat-elevation-z0">
  <mat-card-header>
    <mat-card-title>Instructions</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="youtube-container">
      <iframe width="100%" height="auto" src="https://www.youtube-nocookie.com/embed/Nv6qUsKYodA" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <span fxFlex></span>
    <button mat-raised-button>I'm not ready</button>
    <button mat-raised-button class="mat-primary" routerLink="/intro">Let's go!</button>
  </mat-card-actions>

</mat-card>
<span fxFlex></span>
