<mat-card fxFlex id="main-content" class="mat-elevation-z0 instructions-card">
  <mat-card-header>
    <mat-card-title>Introduction</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="youtube-container">
      <iframe width="100%" height="auto" src="https://www.youtube-nocookie.com/embed/0aAa1bgcDRY" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="mat-warn">I'm not ready</button>
    <span fxFlex></span>
    <h3>Continue as: </h3>
    <button mat-raised-button class="mat-primary" routerLink="/survey" (click)="setRole('adolescent')">Adolescent 13-17</button>
    <button mat-raised-button class="mat-primary" routerLink="/survey" (click)="setRole('young_adult')">Young Adult 18-21</button>
    <button mat-raised-button class="mat-primary" routerLink="/survey" (click)="setRole('parent')">Parent (or >21)</button>
  </mat-card-actions>
</mat-card>
