<div fxFlex fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px">
  <div fxFlex="50" fxLayout="column">
    <div class="youtube-container">
      <iframe width="100%" height="auto" src="https://www.youtube-nocookie.com/embed/Nv6qUsKYodA" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
  </div>
  <div fxFlex="50" fxLayout="column">
    <h3>All diseases are treatable. Some treatable diseases can be cured. Some treatable diseases can’t be cured, but
      symptoms can be reduced or managed. Would you want to receive results about diseases that cannot be cured?</h3>
    <mat-radio-group fxLayout="column"  class="app-wrap" [(ngModel)]="preventabilitySelection">
      <mat-radio-button [value]="1">Yes, both curable AND not curable</mat-radio-button>
      <mat-radio-button [value]="0">No, curable ONLY</mat-radio-button>
    </mat-radio-group>
    <mat-expansion-panel>
      <mat-expansion-panel-header>I need more information</mat-expansion-panel-header>
      <p>Using this tool may help you decide if you want to learn any genetic results. If you answer, “Yes, I want the
        chance to learn my/my child’s genetic results,” you will be asked 4 more questions. You will be able to see the
        type of diseases you could learn about based on your answers to the 4 questions. If you do not want to learn any
        results, you can come back to this question and answer, “No, I do not want to receive any genetic results.”</p>
      <button mat-raised-button>I'm still not sure</button>
    </mat-expansion-panel>

    <h4>Based on your selection, these are some conditions that would be reported:</h4>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="preventable">
        <th mat-header-cell *matHeaderCellDef> Preventable</th>
        <td mat-cell *matCellDef="let condition" class="condition-attribute-cell">
          <mat-icon *ngIf="condition.preventable">check</mat-icon>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let condition"
            [ngClass]="{'strikethru': !condition.preventable && preventabilitySelection == 0}"> {{condition.condition}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
