<div>
  <h5>Start</h5>
  <mat-form-field>
    <input matInput [(ngModel)]="startYear" placeholder="year">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="startMonth" placeholder="month">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="startDate" placeholder="day">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="startHour" placeholder="hour">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="startMinute" placeholder="minute">
  </mat-form-field>
</div>
<div>
  <h5>End</h5>
  <mat-form-field>
    <input matInput [(ngModel)]="endYear" placeholder="year">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="endMonth" placeholder="month">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="endDate" placeholder="day">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="endHour" placeholder="hour">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="endMinute" placeholder="minute">
  </mat-form-field>
</div>

<button mat-raised-button (click)="getEvents()">Get Events</button>

<!--<div *ngFor="let ev of changeEvents | async">{{ev.context}} : {{ev.timestamp.toDate().toDateString()}}-->
<!--  : {{ev.uid}}</div>-->

<table *ngIf="changeEvents | async" class="mat-elevation-z8 participant-table">
  <tr>
    <th>UID</th>
    <th>Time</th>
    <th>Context</th>
    <th>Cure</th>
    <th>Prev</th>
    <th>Adult</th>
    <th>Carrier</th>
  </tr>
  <tr *ngFor="let ev of (changeEvents | async)">
    <td>{{ev.uid | slice : 0 : 5}}</td>
    <td>{{ev.timestamp.toDate().toTimeString()}}</td>
    <td>{{ev.context.context}}</td>
    <td><mat-icon>{{ev.selections.curability === 1 ? 'check_box' : 'check_box_outline_blank'}}</mat-icon></td>
    <td><mat-icon>{{ev.selections.preventability === 1 ? 'check_box' : 'check_box_outline_blank'}}</mat-icon></td>
    <td><mat-icon>{{ev.selections.adultOnset === 1 ? 'check_box' : 'check_box_outline_blank'}}</mat-icon></td>
    <td><mat-icon>{{ev.selections.carrierStatus === 1 ? 'check_box' : 'check_box_outline_blank'}}</mat-icon></td>
  </tr>
</table>

<!--<table mat-table *ngIf="changeEvents | async as ev" [dataSource]="changeEvents" matSort class="mat-elevation-z8">-->
<!--  &lt;!&ndash; Position Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="uid">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header> UID</th>-->
<!--    <td mat-cell *matCellDef="let element"> UID{{element.uid | slice : 0 : 5}} </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Name Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="timestamp">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header> Time</th>-->
<!--    <td mat-cell *matCellDef="let element"> T{{element.timestamp.toDate().toDateString()}} </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Curability Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="curability">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cure</th>-->
<!--    <td mat-cell *matCellDef="let element">-->
<!--      <mat-icon>{{element.selections.curability ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Curability Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="preventability">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header> Prev.</th>-->
<!--    <td mat-cell *matCellDef="let element">-->
<!--      <mat-icon>{{element.selections.preventability ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Curability Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="adultOnset">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header> Adult</th>-->
<!--    <td mat-cell *matCellDef="let element">-->
<!--      <mat-icon>{{element.selections.adultOnset ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  &lt;!&ndash; Curability Column &ndash;&gt;-->
<!--  <ng-container matColumnDef="carrierStatus">-->
<!--    <th mat-header-cell *matHeaderCellDef mat-sort-header> Carrier</th>-->
<!--    <td mat-cell *matCellDef="let element">-->
<!--      <mat-icon>{{element.selections.carrierStatus ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>-->
<!--    </td>-->
<!--  </ng-container>-->

<!--  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--</table>-->
