$cchmc-pink: #ca5699;
$cchmc-green: #73b44a;
$cchmc-blue: #00aac8;
$cchmc-gray: #565a5c;

.cchmc-pink {
  color: $cchmc-pink;
}

.cchmc-green {
  color: $cchmc-green;
}

.cchmc-blue {
  color: $cchmc-blue;
}

.cchmc-gray {
  color: $cchmc-gray;
}
