<div style="margin: 20px">
  <h1>Educational and Instructional Videos</h1>
  <h4>Required Video: <a href="https://youtu.be/0aAa1bgcDRY">https://youtu.be/0aAa1bgcDRY</a></h4>
  <h4>Optional #1: <a href="https://youtu.be/pQme31Bx6FY">https://youtu.be/pQme31Bx6FY</a></h4>
  <h4>Optional #2: <a href="https://youtu.be/YlK5x2elBcM">https://youtu.be/YlK5x2elBcM</a></h4>
  <h4>Optional #3: <a href="https://youtu.be/Cu8viUh2HCA">https://youtu.be/Cu8viUh2HCA</a></h4>
  <h4>Optional #4 <a href="https://youtu.be/XFumh_8b-SY">https://youtu.be/XFumh_8b-SY</a></h4>
</div>
