<mat-accordion class="example-headers-align">
  <mat-expansion-panel *ngFor="let c of conditions" togglePosition="before">
    <mat-expansion-panel-header [ngClass]="{'notShown': !wouldReturnCondition(c)}">
      <mat-panel-title>{{c.condition}}</mat-panel-title>
      <mat-panel-description>
        <div *ngIf="!(isHandset$ | async)" class="show-details">Click for details</div>
        <div fxFlex></div>
        <div fxLayout="row" *ngIf="isHandset$ | async">
          <div class="attribute-info" [ngClass]="{'inapplicable': c.override === Override.Default}">{{c.override === Override.Include ? 'I' : 'E'}}</div>
          <div class="treatability attribute-info" [ngClass]="{'inapplicable': !c.treatable}"><mat-icon>circle</mat-icon></div>
          <div class="preventability attribute-info" [ngClass]="{'inapplicable': !c.preventable}"><mat-icon>circle</mat-icon></div>
          <div class="adult-onset attribute-info" [ngClass]="{'inapplicable': !c.adultOnset}"><mat-icon>circle</mat-icon></div>
          <div class="carrier-status attribute-info" [ngClass]="{'inapplicable': !c.carrier, 'condition-hidden': !c.carrier}"><mat-icon>circle</mat-icon></div>
        </div>
        <div fxLayout="row" *ngIf="!(isHandset$ | async)">
          <div class="attribute-info" [ngClass]="{'inapplicable': c.override === Override.Default}">{{c.override === Override.Include ? 'Always' : 'Never'}} Report</div>
          <div class="treatability attribute-info" [ngClass]="{'inapplicable': !c.treatable}">Treatable</div>
          <div class="preventability attribute-info" [ngClass]="{'inapplicable': !c.preventable}">Preventable</div>
          <div class="adult-onset attribute-info" [ngClass]="{'inapplicable': !c.adultOnset}">Adult Onset</div>
          <div class="carrier-status attribute-info" [ngClass]="{'inapplicable': !c.carrier, 'condition-hidden': !c.carrier}">Carrier</div>
        </div>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <p>{{c.description}} <a href="{{c.resource_link}}" target="_blank" mat-button class="mat-primary">Learn More <mat-icon>launch</mat-icon></a></p>

      <div>
        <!-- <h4>Manually include/exclude this condition?</h4> -->
        <!-- <p>Do you want to override your survey responses? [ TODO: NEED FEEDBACK ON THIS WORDING ]</p> -->
        <mat-radio-group [(ngModel)]="c.override">
          <mat-radio-button [value]="Override.Include">ALWAYS report this condition</mat-radio-button>
          <mat-radio-button [value]="Override.Exclude">NEVER report this condition</mat-radio-button>
          <mat-radio-button [value]="Override.Default">Use my survey selections (default)</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

  </mat-expansion-panel>

</mat-accordion>


