@import "~@angular/material/theming";

.condition-table {
  @include mat-elevation(2);
  border-collapse: collapse;
}

.condition-table td, .condition-table th {
  border: 2px solid gray;
}

.condition-block {
  position: relative;
  padding: 15px;
}

.inapplicable {
  // opacity: 0.2;
  // text-decoration: line-through;
  visibility: hidden;
}

.disease-icon {
  height: 50px;
  width: auto;
  margin: 20px;
}

.notShown {
  opacity: 50%;
  color: gray;
  // background-color: rgba(86,90,92,0.1);
}

.notShown mat-panel-title {
  // color: maroon;
  text-decoration: line-through;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

//////////////////////////////

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

// https://css-tricks.com/flexbox-truncated-text/
.overflow-child {
  flex: 1;
  min-width: 0;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.attribute-info {
  margin-left: 5px;
  margin-right: 5px;
}

.show-details {
  visibility: hidden;
}

.mat-expansion-panel-header:hover .show-details {
  visibility: visible;
}

.condition-hidden {
  visibility: hidden;
}
